/* default: white background, sans serif font */
body {
    font-family:Arial,Helvetica;
    background-color:white;
}

/* subsection titles for the parameter area */
h3 {
    color: #000055;
    font-size:14px;
}

/* region to display an error */
#error { 
    color:white; 
    font-weight:bold; 
    background-color:red; 
    display:none; 
}

/* canvas to perform 2d graphcis */
#drawing_area {
    float:left;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
}

/* container to display editable parameters */
#param_area {
    float:left;
    width: 250px;
    height:410px;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
    text-align:left;
    padding: 0px 15px;
}

/* all input elements get a fixed width and float to the right */
input {
    width: 80px;
    float: right;
    margin-top: 10px;
}

/* except for the formula inputs, they must be longer */
.longInput {
    width: 160px;
}

/* the checkboxes are a little smaller, so they need a bigger margin */
input[type="checkbox"] {
    margin-top: 15px;
}

/* the labels should float to the left */
label {
    float: left;
    clear: both;
    margin-top: 11px;
}

/* make the buttons alle the same size and one per line*/
button {
    float: left;
    clear: both;
    width: 200px;
    margin-bottom: 2px;
}
